<div class="container-fluid">
  <h1>Bootstrap Enrollment Form</h1>
  <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <!-- {{ userForm.value | json }}
    <hr/>
    {{ userModel | json }} -->

    <div class="form-group">
        <label for="name"></label>
        <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" name="username" [(ngModel)]="userModel.name">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>


    <div class="form-group">
        <label for="email"></label>
        <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
    </div>

    <div class="form-group">
        <label for="tel"></label>
        <input type="tel" #phone="ngModel" pattern="^\d{10}$" required
        [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="phone" [(ngModel)]="userModel.phone">
        <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required and must be 10 digits</small> -->
        <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
            <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
            <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>
        </div>
    </div>

    <div class="form-group">
      <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
        <option value="">I am interested in</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
    </div>

    <div class="mb-3">
      <label>Time Preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Morning (8am-12pm)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">evening (5pm-8pm)</label>
      </div>
    </div>

    <!-- <div class="form-check mb-3">
      <input class="form-check-input" name="subscribe" [(ngModel)="userModel.subscribe" type="checkbox">
      <label class="form-check-label">Send me promotional offers</label>
    </div> -->

    <button [disabled]="userForm.form.invalid || topicHasError" class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>